@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.container-filter {
    font-family: "Raleway", sans-serif;
    height: 100%;
    position: relative;
    width: max-content;
    display: flex;
    flex-flow: row nowrap;
}

.filter-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    background-color: #000000CC;
    z-index: 1000;
    padding: 20px 20px;
    width: max-content;
    top: 70px;
}

.filter-form button {
    padding-left: 20px;
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-size: 25px;
}

.search {
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.search input {
    width: 100%;
    padding: 8px 10px;
    color: rgb(175, 185, 247);
    background-color: #00000075;
    border: 1px solid rgb(6, 17, 29);
    border-radius: 1000px;
    
}

.search input:focus {
    border: 1px solid rgb(6, 17, 29);
    outline: none;
    box-shadow: 0 0 3px #adc1ff75;
}

.hidden {
    display: none;
}